html {
	height: 100%
}
.white_box {
	background-color: white;
	margin-top: 5%;
	border-radius: 25px;
	text-align: center;
	margin-left: 9%;
	margin-right: 9%;
}
.body_color {
	background-image: linear-gradient(black, teal);
}
.border_expand {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
}
.EDM_Playlist {
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
	background: gray;
	border-style: solid;
	border-color: white;
	border-radius: 10px;
}
.Curr_Jams_Playlist {
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
	background: gray;
	border-style: solid;
	border-color: white;
	border-radius: 10px;
}
.Could_Be_Jams_Playlist {
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
	background: gray;
	border-style: solid;
	border-color: white;
	border-radius: 10px;
}
.soundcloud_link {
	margin-top: 10px;
	text-align: center;
	background-color: black;
	border-radius: 10px;
	margin-left: 35%;
	margin-right: 35%;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
 .white_text {
	 color: white;
 }
 .push_bot {
	 margin-bottom: 0%;
 }
 /* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  background-color: #f1f1f1;
}
.center_align {
	text-align: center;
}
.concert_title {
	text-decoration: bold;
	color: black;
	font-size: 4.7vw;
	padding-left: 15px;
	padding-right: 15px;
	margin: 30px;
	margin-bottom: 20px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
}
.concert_col {
	margin-top: 20px;
	margin-bottom: 5px;
}
.numSeenBox {
	text-align: center;
	background-color: gray;
	margin-right: 30%;
	margin-left: 30%;
	border-radius: 10px;
}
.disclaimer {
	margin-top: 10px;
}
