html {
	height: 100%
}
.white_box {
	background-color: white;
	margin-top: 5%;
	border-radius: 25px;
	text-align: center;
	margin-left: 9%;
	margin-right: 9%;
}
.body_color {
	background-image: linear-gradient(black, teal);
}
.border_expand {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
}
.EDM_Playlist {
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
	background: gray;
	border-style: solid;
	border-color: white;
	border-radius: 10px;
}
.Curr_Jams_Playlist {
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
	background: gray;
	border-style: solid;
	border-color: white;
	border-radius: 10px;
}
.Could_Be_Jams_Playlist {
	text-align: center;
	padding-bottom: 15px;
	padding-top: 10px;
	background: gray;
	border-style: solid;
	border-color: white;
	border-radius: 10px;
}
.soundcloud_link {
	margin-top: 10px;
	text-align: center;
	background-color: black;
	border-radius: 10px;
	margin-left: 35%;
	margin-right: 35%;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
 .white_text {
	 color: white;
 }
 .push_bot {
	 margin-bottom: 0%;
 }
